src/main/resources/wsdl/AccessGroupService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://software-innovation.com/SI.Data" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://software-innovation.com/SI.Data">
    <xs:import schemaLocation="AccessGroupService2.xsd" namespace="http://schemas.datacontract.org/2004/07/SI.Data.Contracts.WS"/>
    <xs:element name="Ping">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PingResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAccessGroups">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="parameter" nillable="true" type="tns:GetAccessGroupsQuery"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="GetAccessGroupsQuery">
        <xs:sequence>
            <xs:element minOccurs="0" name="ADContextUser" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="LastDate" nillable="true" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="MaxRows" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="Page" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="Recno" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="SortingCriterion" nillable="true" type="q1:SortCriterion" 
                xmlns:q1="http://schemas.datacontract.org/2004/07/SI.Data.Contracts.WS"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetAccessGroupsQuery" nillable="true" type="tns:GetAccessGroupsQuery"/>
    <xs:element name="GetAccessGroupsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetAccessGroupsResult" nillable="true" type="tns:GetAccessGroupsResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="GetAccessGroupsResult">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:WSOperationResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="AccessGroups" nillable="true" type="tns:ArrayOfAccessGroupResult"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetAccessGroupsResult" nillable="true" type="tns:GetAccessGroupsResult"/>
    <xs:complexType name="WSOperationResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Successful" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WSOperationResult" nillable="true" type="tns:WSOperationResult"/>
    <xs:complexType name="ArrayOfAccessGroupResult">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessGroupResult" nillable="true" type="tns:AccessGroupResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfAccessGroupResult" nillable="true" type="tns:ArrayOfAccessGroupResult"/>
    <xs:complexType name="AccessGroupResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Recno" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfAccessGroupUserResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccessGroupResult" nillable="true" type="tns:AccessGroupResult"/>
    <xs:complexType name="ArrayOfAccessGroupUserResult">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessGroupUserResult" nillable="true" type="tns:AccessGroupUserResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfAccessGroupUserResult" nillable="true" type="tns:ArrayOfAccessGroupUserResult"/>
    <xs:complexType name="AccessGroupUserResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="ADContextUser" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ContactRecno" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="UserRecno" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AccessGroupUserResult" nillable="true" type="tns:AccessGroupUserResult"/>
</xs:schema>